/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 25px;
}

.logo {
    width: 100px;
}

nav ul {
    display: none;
}

.nav-btns {
    display: flex;
    gap: 1rem;
    margin-right: 2.5rem;
}

.nav-btns button {
    background-color: transparent;
    border: none;
}

.nav-btns img {
    width: 20px;
}

header {
    background-color: #540B51;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1rem;
}

header p span {
    color: #ECB12F;
}

.btn-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

button {
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .8rem;
}

.btn-ctn button {
    color: #540B51;
}

.signup-google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285F4;
    position: relative;
}

.google-logo {
    width: 50px;
    background-color: white;
    position: absolute;
    left: 0;
    width: 30px;
    margin-left: 5px;
}

.signup-google-btn span {
    color: white;
}

.hero-img {
    width: 150%;
}
main {
   background-color: #F3EAE2; 
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.companies p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: .8rem;
    color: #191817;
}

.logo-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    margin: 1rem 2rem;
}

.logo-ctn img {
    height: 30px;
}

.info img {
    width: 100%;
    margin: 0;
}

.info h2 {
    color: #191817;
    margin: 2rem 1rem;
    font-size: 1.6rem;
}

.info p {
    margin: 0 1rem 1rem;
    line-height: 1.5;
}

.info a {
    margin: 1rem;
    text-decoration: none;
    color: #2E71A6;
}

.info2 {
    flex-direction: column-reverse;
}

.about {
    text-align: center;
    background-color: white;
}

.about h3 {
    font-size: 1.5rem;
    width: 70%;
    margin-top: 3rem;
}

.about p {
    line-height: 1.5;
    padding: 0 1rem;
}

.about-btn-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.meet-btn {
    color: white;
    background-color: #540B51;
}

.talk-btn {
    color: #540B51;
    background-color: white;
    border: 1px solid #540B51;
}

.about ul {
    list-style: none;
    width: 40%;
    padding: 2rem;
}

.about ul span {
    font-size: 3rem;
    color: #540B51;
    font-weight: 600;
}

.about ul p {
    text-align: center;
    padding: 0;
    font-weight: 600;
    margin: 0;
}
.about li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    background-color: #540B51;
    color: white;
    padding-top: 0;
    padding-bottom: 3rem;
}

.contact h3 {
    font-size: 2rem;
    width: 70%;
    text-align: center;
}

.try-btn {
    color: white;
    background-color: #540B51;
    border: 1px solid white;
    margin-bottom: .5rem;
}

.sales-btn {
    color: #540B51;
}
 footer {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
 }
footer img {
    width: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    border-bottom: 1px solid #d1cad1;
}

.footer-top ul {
    list-style: none;
    padding: 0;
    width: 20%;
}

.footer-top li {
    padding: .7rem 0;
    color: #454245;
}

.footer-top li:first-child {
    font-weight: 900;
}

.footer-bottom {
    list-style: none;
    font-size: .7rem;
    padding: 0;
}

.footer-bottom li {
    padding: .7rem 0;
    font-weight: 900;
}

.footer-bottom li:last-child {
    color: #2E71A6;
}

.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.copyright {
    color: #b6b0b6;
    font-size: .8rem;
    margin: 1rem 0;
}

@media (min-width: 768px) {
    nav {
        height: 70px;
    }
    header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        background-image: url(../images/background-singup.png);
        background-size: cover;
        padding: 2rem;
        /* height: 80vh; */
    }
    header h1 {
        font-size: 4rem;
        width: 60%;
        margin: 1rem 0;
    }
    .signup {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .signup-img {
        width: 20%;
        align-self: center;
    }
    .hero-img {
        width: 500px;
    }
    .btn-ctn {
        align-items: flex-start;
    }
    .logo-ctn {
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }
    .info img {
        width: 80%;
    }
    .info-text {
        width: 60%;
    }
    .about-btn-ctn {
        flex-direction: row;
        width: 70%;
    }
    .talk-btn {
        width: 50%;
    }
    .about ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .about li {
        margin: 0 2rem;
        width: 30%;
    }
    .about ul p {
        text-align: left;
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }
    .social {
        justify-content: flex-start;
        gap: 5rem;
    }
}

@media (min-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 3rem;
        list-style: none;
    }
    nav ul a {
        text-decoration: none;
        color: white;
        font-size: .9rem;
    }
    .menu {
        display: flex;
        align-items: center;
        width: 60%;
        font-size: .9rem;
    }
    .nav-btns {
        align-items: center;
        justify-content: flex-end;
        /* width: 40%; */
    }
    .menu-btn {
        display: none;
        height: 0;
    }
    .account-btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 2rem;
    }
    .account-try-btn {
        background-color: white;
        padding: .5rem;
        border-radius: 3px;
    }
    .account-try-btn a {
        color:#540B51;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
    }
    .search-btn {
        width: initial;
        margin-right: 1rem;
    }
    .signup {
        width: 50%;
    }
    header h1 {
        font-size: 4rem;
        width: 70%;
        margin: 1rem 0 4rem;
    }
    header p {
        font-size: 1.5rem;
        width: 70%;
        line-height: 1.5;
    }
    .logo-ctn {
        margin: 0;
    }
    .info {
        flex-direction: row;
    }
    .info-text {
        width: initial;
    }
    .info h2 {
        font-size: 2.5rem;
    }
    .about h3 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .about p {
        margin: 2rem 0;
    }
    .about-btn-ctn {
        width: 50%;
    }
    .about ul p {
        width: 70%;
    }
    .contact {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .contact h3 {
        font-size: 3rem;
        width: 100%;
        
    }
    .contact button {
        width: 20%;
        margin: 0 .5rem;
    }
    footer {
        padding: 3rem;
    }
}

@media (min-width: 1440px) {
    .menu {
        width: 40%;
    }
    header {
        padding: 2rem 5rem;
        background-image: none;
    }
    header h1 {
        width: 60%;
    }
    header p {
        font-size: 1.2rem;
        width: 40%;
    }
    .btn-ctn {
        flex-direction: row;
    }
    .logo-ctn {
        width: 80%;
    }
    .info {
        gap: 10rem;
    }
    .info-text {
        padding: 0 5rem;
    }
    .about {
        padding: 0 5rem;
    }
    .about-btn-ctn {
        width: 40%;
    }
    .contact button {
        width: 15%;
    }
}